<p>alta works!</p>


<form [formGroup]="form" class="example-form" style="display: flex; flex-direction: column;">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input type="number" matInput formControlName="id" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="input" matInput formControlName="name"required>
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="input" matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input type="number" matInput formControlName="phone" required>
      </mat-form-field>
      <button mat-raised-button type="submit"> ENVIAR </button>
  </form>

  